<!DOCTYPE html>
<html>
<head>
  {% block head%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>C. Alves, auteur photographe</title>
  <meta name="description" content="Christophe Alves, auteur photographe, basé à Sausset-les-Pins. Je travaille pour les professionnels sur la région de Martigues, Istres, Aix-Marseille" />
  <meta name="keywords" content="Christophe Alves photographe professionnel Sausset-les-Pins" />
  <link rel="icon" href="http://christophe-auteur-photographe.com/favicon.ico" />
  {% endblock %}
  
  {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    
    {% stylesheets '@AppBundle/Resources/public/css/main.css' %}            {#bundles/ocplatform/css/main.css#}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}     
    
  {% endblock %}
  
  {% block javascripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}


</head>

<body>

  {{ render(controller("AppBundle:General:header")) }}

<div class="container">
  {% block body %}
  {% endblock %}
</div>  

  {{ render(controller("AppBundle:General:footer")) }}

</body>
</html>